@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:ital@1&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	min-height: 100svh;
	font-size: inherit;
	font-family: "Epilogue", sans-serif;
	background-color: var(--Almost-White);
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

button,
input {
	font: inherit;
}

:root {
	--Almost-White: hsl(0, 0%, 98%);
	--Medium-Gray: hsl(0, 0%, 41%);
	--Almost-Black: hsl(0, 0%, 8%);

	--fs-p: 18px;
	--fs-400: 1rem;
	--fs-450: 1.25rem;
	--fs-500: 1.5rem;
	--fs-600: 2.15rem;
}

p {
	color: var(--Medium-Gray);
	pointer-events: none;
}

.flex-group {
	display: flex;
	align-items: center;
}

.background-blur {
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: 100ms;
	position: fixed;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.7);
}

.background-blur.active {
	opacity: 1;
	z-index: 2;
	pointer-events: auto;
}

.container {
	padding-bottom: 1.5rem;
	border: 3px solid orange;
	height: 100svh;
}

nav {
	padding: 1.4rem 1rem;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	cursor: pointer;
}

.close-icon {
	cursor: pointer;
	width: 1.5rem;
	margin-left: auto;
	margin-bottom: 2rem;
}

.menu-group {
	top: 0;
	right: 0;
	z-index: 2;
	width: 65%;
	opacity: 0;
	height: 100%;
	display: flex;
	padding: 1.5rem 1.1rem;
	position: fixed;
	transition: 200ms;
	flex-direction: column;
	pointer-events: none;
	transform: translateX(20%);
	overflow: auto;
}

.menu-group.active {
	opacity: 1;
	pointer-events: auto;
	transform: translateX(0%);
}

.menu-item-name {
	gap: 1rem;
	cursor: pointer;
	padding-block: 0.5rem;
}

.menu-dropdown {
	display: none;
	gap: 1rem;
	padding-block: 1rem;
	margin-left: 1.5rem;
}

.menu-dropdown-item {
	gap: 1rem;
}

.menu-item.active .menu-dropdown {
	display: grid;
}

main {
	display: grid;
	gap: 3rem;
}

.illu {
	width: 100%;
}

section {
	gap: 1.2rem;
	display: grid;
	place-items: center;
	text-align: center;
}

section h1 {
	font-size: var(--fs-600);
	color: var(--Almost-Black);
}

section p {
	line-height: 1.7rem;
	font-size: var(--fs-400);
	margin-bottom: 0.4rem;
	width: 90%;
}

section a {
	width: 40%;
	cursor: pointer;
	text-align: center;
	padding-block: 1rem;
	border-radius: 1rem;
	margin-bottom: 1.5rem;
	color: var(--Almost-White);
	border: 1px solid var(--Almost-Black);
	background-color: var(--Almost-Black);
}

section a:hover {
	background-color: var(--Almost-White);
	color: var(--Almost-Black);
}

footer {
	flex-wrap: wrap;
	justify-content: center;
}

footer img {
	width: 80px;
	z-index: 1;
	cursor: pointer;
}

footer img:nth-child(1) {
	transform: scale(0.9);
}

footer img:nth-child(2) {
	transform: scale(0.6);
}

footer img:nth-child(3) {
	transform: scale(0.8);
}

footer img:nth-child(4) {
	transform: scale(0.9);
}

form {
	margin-top: 2rem;
	display: flex;
	gap: 5px;
	flex-direction: column;
}

button {
	color: var(--Medium-Gray);
	padding-block: 0.7rem;
	background-color: white;
	border-radius: 0.8rem;
	cursor: pointer;
}

button:nth-of-type(1) {
	border: none;
}

button:nth-of-type(1):hover {
	color: var(--Almost-Black);
}

button:nth-of-type(2) {
	border: 2px solid;
}

button:nth-of-type(2):hover {
	border-color: var(--Almost-Black);
	color: var(--Almost-Black);
}

@media (min-width: 756px) {
	nav {
		padding: 0.8rem 2rem;
		padding-block: 0.8rem;
		border: 1px solid magenta;
		gap: 4.5rem;
	}
	.logo {
		place-self: center;
		padding-top: 4.5px;
	}
	main {
		padding-inline: 0.5rem;
		border: 2px solid lime;
		display: grid;
		margin-top: 3.5rem;
		max-width: 1200px;
		margin-inline: auto;
		gap: 0;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "description illustration";
	}
	section {
		text-align: start;
		align-content: end;
		place-items: start;
		gap: 2.5rem;
		width: 92%;
	}

	section h1 {
		font-size: clamp(3rem, 5vw, 5rem);
		widows: 1;
	}

	section p {
		width: 80%;
	}

	section a {
		margin-bottom: 5rem;
		margin-right: auto;
		min-width: 30%;
	}

	.illu {
		max-height: 720px;
		grid-area: illustration;
	}

	.menu-nav {
		pointer-events: none;
		width: 100%;
	}
	.menu-icon {
		display: none;
	}
	.close-icon {
		display: none;
	}
	.menu-group {
		overflow: visible;
		align-items: center;
		padding: 0;
		opacity: 1;
		display: flex;
		flex-direction: row;
		pointer-events: auto;
		gap: 2rem;
		position: static;
		width: 100%;

		transform: translateX(0);
	}

	.menu-item {
		position: relative;
	}

	.menu-item-name {
		gap: 0.5rem;
	}

	.menu-dropdown {
		position: absolute;
		top: 0;
		transform: translateY(2.5rem);
		right: 0;
		display: grid;
		border-radius: 0.6rem;
		padding-inline: 1rem;
		background-color: white;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	}
	form {
		width: 22%;
		gap: 1rem;
		flex-direction: row;
		margin-top: 0;
		margin-left: auto;
	}
	button {
		width: 100%;
	}

	footer {
		flex-wrap: nowrap;
		gap: 1rem;
	}

	footer img {
		transform: scale(1);
	}

	footer img:nth-child(1) {
		transform: scale(1.2);
	}

	footer img:nth-child(2) {
		transform: scale(0.75);
	}

	footer img:nth-child(3) {
		transform: scale(1);
	}

	footer img:nth-child(4) {
		transform: scale(1);
	}
}
